:root {
    --cellsize: 18px;
}

body {
    background-color: lightyellow;
}

table.map {
    border-collapse: separate;
    border-spacing: 0px;
}

tr.map {
    display: block;
    height: var(--cellsize);
}

td.map {
    padding: 0;
    margin: 0;
}

.cell {
    display: inline-block;
    background-color: #b3d4fc;
    width: var(--cellsize);
    height: var(--cellsize);
    padding: 0;
    margin: 0;
}

.train {
    background-color: #ffff80;
}

.error {
    background-color: #ff0000;
}

img {
    width: 110%;
    height: 110%;
    position: relative;
    left: -5%;
    top: -5%;
}

#tableau {
    display: inline-block;
    border: 2px solid darkblue;
    overflow: hidden;
}

#source {
    display: inline-block;
}

.platform {
    display: inline-block;
    width: 0px;
    height: 0px;
    position: relative;
    left: -12px;
    top: -8px;
    font-family: "Arial Black";
    font-size: 0.3em;
    cursor: default;
}

.timeandscore {
    display: block;
    background-color: yellow;
    color: blue;
    font-size: 1.5em;
}

.label {
    display: inline-block;
    width: 0px;
    height: 0px;
    position: relative;
    color: darkblue;
    z-index: 100;
}

table.schedule {
    border-collapse: collapse;
    border: solid 2px darkblue;
}

tr.schedule {
    border: solid 1px darkblue;
}

th.schedule {
    border: solid 1px darkblue;
    padding: 0px 10px;
    text-align: left;
    color: darkblue;
}

td.schedule {
    border: solid 1px darkblue;
    padding: 0px 10px;
    color: darkblue;
}

nav {
    color: darkblue;
}

.message, .help {
    color: darkblue;
}